<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>900678026840-d8nmi1pa8752th83901kanv25g2fl44q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.900678026840-d8nmi1pa8752th83901kanv25g2fl44q</string>
	<key>API_KEY</key>
	<string>AIzaSyC_AmPMT3C3uaqyUw7qQxvfKRrUwrJag3Y</string>
	<key>GCM_SENDER_ID</key>
	<string>900678026840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eri.firebase-test</string>
	<key>PROJECT_ID</key>
	<string>fir-11223</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-11223.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:900678026840:ios:3254376f9890af2aef6c2d</string>
</dict>
</plist>